.digit-cell {
    width: clamp(100px, 20vw, 260px);
    height: clamp(100px, 20vw, 260px);
    aspect-ratio: 1 / 1;
    line-height: 1;
    display: flex;
    border-radius: 6px;
    text-align: center;
    font-size: clamp(2rem, 20vw, 8rem);
    background-color: #334351;
    justify-content: center;
    align-items: center;
    color: rgba(230, 230, 230, 0.65);

    &.correct {
        background-color: #513343;
    }

    &.wrong {
        background-color: #335144;
    }

    &.active {
        background-color: #445d71;
        color: rgba(230, 230, 230, 0.85);
    }

    &.default {
        background-color: #334351;
        color: rgba(230, 230, 230, 0.85);
    }

    span {
        height: auto;
    }
}
