<div class="digit-belt">
    <div class="history">
        <span class="correct">3</span>
        <span class="correct">.</span>
        @for (item of history; track item.index) {
        <span class="{{ item.status }}">{{ item.answer }}</span>
        }
    </div>

    <div #cellsContainer class="cells">
        @for (item of window; track item.index) {
        <div #cells [ngClass]="['digit-cell', item.status]" [class.active]="item.index == globalPosition">
            <span> {{ item.symbol }} </span>
        </div>
        }
    </div>
</div>