.digit-belt {
    overflow: hidden;
    position: relative;

    .cells {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 1.5rem;
        will-change: transform;
        transition: transform 0.3s ease;
    }

    .history {
        padding-block: 1.5rem;
        letter-spacing: 0.5rem;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        overflow-x: hidden;
        width: 100%;

        span {
            font-size: 1.5rem;

            &.correct {
                color: #5b7e9a;
            }

            &.wrong {
                color: #bc7575;
            }
        }
    }

    .digit-cell {
        width: clamp(100px, 20vw, 260px);
        height: clamp(100px, 20vw, 260px);
        aspect-ratio: 1 / 1;
        line-height: 1;
        display: flex;
        border-radius: 6px;
        text-align: center;
        font-size: clamp(1rem, 10vw, 8rem);
        background-color: #334351;
        justify-content: center;
        align-items: center;
        color: rgba(230, 230, 230, 0.65);
        transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;

        &.wrong {
            background-color: #513343;
        }

        &.correct {
            background-color: #335144;
        }

        &.default {
            background-color: #334351;
            color: rgba(230, 230, 230, 0.85);
        }

        &.active {
            background-color: #375063;
            color: rgba(230, 230, 230, 0.85);
        }

        span {
            height: auto;
        }
    }
}
