.digit-belt {
    position: relative;
    .cells {
        position: absolute;
        display: flex;
        column-gap: 1rem;
        overflow: clip;
    }

    .history {
        text-align: right;
        padding-block: 0.75rem;
        letter-spacing: 0.5rem;

        span {
            font-size: 1.5rem;

            &[data-status="correct"] {
                color: rgba(172, 255, 47, 0.5);
            }

            &[data-status="wrong"] {
                color: rgba(255, 30, 75, 0.5);
            }
        }
    }

    .digit-cell {
        width: clamp(100px, 20vw, 260px);
        height: clamp(100px, 20vw, 260px);
        aspect-ratio: 1 / 1;
        line-height: 1;
        display: flex;
        border-radius: 6px;
        text-align: center;
        font-size: clamp(1rem, 10vw, 8rem);
        background-color: #334351;
        justify-content: center;
        align-items: center;
        color: rgba(230, 230, 230, 0.65);
        transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;

        &.wrong {
            background-color: #513343;
        }

        &.correct {
            background-color: #335144;
        }

        &.default {
            background-color: #334351;
            color: rgba(230, 230, 230, 0.85);
        }

        &.active {
            background-color: #375063;
            color: rgba(230, 230, 230, 0.85);
        }

        span {
            height: auto;
        }
    }
}
