<div class="digit-belt">
    <div class="history">
        <span data-status="correct">1</span>
        <span data-status="correct">4</span>
        <span data-status="wrong">1</span>
        <span data-status="wrong">5</span>
        <span data-status="correct">9</span>
        <span data-status="wrong">2</span>
        <span data-status="correct">6</span>
    </div>

    <div #cellsContainer class="cells">
        @for (item of window; track $index) {
        <div #cells [ngClass]="['digit-cell', item.status]" [class.active]="item.index == globalPosition">
            <span> {{ item.symbol }} </span>
        </div>
        }
    </div>
</div>