@use "mixins";
@use "functions";
@use "variables";

$extension: ".svg";
$root-path: "/assets/icons/";
$icons: "challenge", "practice", "settings", "statistics", "brand", "hamburger";

span.icon {
    position: relative;
    pointer-events: none;
    display: inline-block;
    background-color: var(--on-secondary-icon);
    @include mixins.mask-background(100%, 100%);
    @include mixins.generate-icons($icons, $root-path, $extension);
}
