@use "./functions";

@mixin mask-background($width, $height) {
    width: $width;
    height: $height;
    pointer-events: none;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

@mixin generate-icons($icons, $root-path, $extension) {
    @each $name in $icons {
        &-#{$name} {
            mask-image: functions.get-icon($root-path, $name, $extension);
            -webkit-mask-image: functions.get-icon($root-path, $name, $extension);
        }
    }
}

@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}
