@use "mixins";
@use "variables";

:root {
    @media (prefers-color-scheme: light) {
        color-scheme: light;
        @include mixins.spread-map(variables.$theme-map-light);
    }

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
        @include mixins.spread-map(variables.$theme-map-dark);
    }
}

body {
    &.theme {
        &.light {
            color-scheme: light;
            @include mixins.spread-map(variables.$theme-map-light);
        }

        &.dark {
            color-scheme: dark;
            @include mixins.spread-map(variables.$theme-map-dark);
        }
    }
}
