$border: --border;
$primary: --primary;
$secondary: --secondary;
$on-primary: --on-primary;
$on-secondary: --on-secondary;
$on-secondary-active: --on-secondary-active;
$on-secondary-hover: --on-secondary-hover;
$on-secondary-icon: --on-secondary-icon;

$theme-map-light: (
    $border: #445d71,
    $primary: #a1afbb,
    $secondary: #2c3741,
    $on-primary: #ffffff,
    $on-secondary: #dddddd,
    $on-secondary-active: #3c566c,
    $on-secondary-hover: #344451,
    $on-secondary-icon: #ddd
);

$theme-map-dark: (
    $border: #445d71,
    $primary: #273139,
    $secondary: #2c3741,
    $on-primary: #ffffff,
    $on-secondary: #dddddd,
    $on-secondary-active: #3a4853,
    $on-secondary-hover: #344451,
    $on-secondary-icon: #ddd
);

$sidebar-width-expanded: 260px;
$sidebar-width-collapsed: 80px;
