@use "reset";
@use "icons";
@use "themes";
@use "variables";
@use "functions";
@use "fonts";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: #dadada;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: functions.theme-var(variables.$theme-primary);
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    display: flex;
}

nav {
    width: 260px;
    display: grid;
    color: white;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "Brand"
        "Sidebar";

    border-right: 1px solid functions.theme-var(variables.$theme-border);
    background-color: functions.theme-var(variables.$theme-secondary);

    .brand {
        grid-area: Brand;
        width: inherit;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        column-gap: 0.5em;
        padding-block: 0.85em;
        border-bottom: 1px solid functions.theme-var(variables.$theme-border);

        .icon {
            width: 2.1875em;
            height: 2.1875em;
        }

        .text {
            font-size: 2em;
        }
    }

    ul {
        overflow: auto;
        grid-area: Sidebar;
        padding-right: 1px;
        align-self: center;

        li {
            font-size: 1.2rem;

            a {
                display: block;
                text-decoration: none;
                line-height: 2em;
                padding-inline: 1.75em;
                color: functions.theme-var(variables.$theme-on-secondary);

                &.active {
                    background-color: functions.theme-var(variables.$theme-on-secondary-active);
                }

                &:hover {
                    background-color: functions.theme-var(variables.$theme-on-secondary-hover);
                }

                span {
                    display: inline-block;
                    vertical-align: middle;

                    &.icon {
                        width: 1em;
                        height: 1em;
                    }
                }
            }
        }
    }
}

.content {
    flex: 1;
    width: 100%;
    overflow: auto;
    padding: 4rem;
}
