@use "variables";

:host {
    display: flex;
    overflow: auto;
    height: 100%;
    flex-wrap: wrap;
    border-style: solid;
    flex-direction: column;
    justify-content: center;
    border-width: 0 1px 0 0;
    color: var(--on-secondary);
    border-color: var(--border);
    background-color: var(--secondary);
    width: variables.$sidebar-width-expanded;

    ul {
        padding-block: 1em;
        width: 100%;
        overflow: auto;
        padding-right: 1px;
        align-self: center;

        li {
            font-size: 1.2rem;
        }

        li a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            line-height: 2em;
            padding-inline: 1.75em;
            color: var(--on-secondary);

            &.active {
                background-color: var(--on-secondary-active);
            }

            &:hover {
                background-color: var(--on-secondary-hover);
            }
        }

        li a span {
            display: inline-block;
            vertical-align: middle;

            &.icon {
                width: 1em;
                height: 1em;
                margin-right: 0.5em;
            }
        }
    }
}
